
<div id="myModal" >

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        <h4 class="modal-title">New/Edit</h4>

      </div>

      <div class="modal-body">


        <%= form_for @bill, :html => { :class => "form-horizontal bill" } do |f| %>

            <div class="control-group">
              <%= f.label :name, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :name, :class => 'form-control' %>
              </div>

            </div>

            <div class="control-group">
              <%= f.label :income, :class => 'control-label' %>
              <div class="controls">
                <%= f.text_field :income, :class => 'form-control' %>
              </div>
            </div>

            <div class="modal-footer">

              <%= f.submit nil, :class => 'btn btn-primary' %>
              <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      items_path, :class => 'btn btn-default' %>
        <% end %>

        </div>

      </div>

    </div>

  </div>

</div>